<section class="about" id="about">
  <div class="container">
    <h2 class="section-title">About <span class="title-accent">Us</span></h2>
    <p class="section-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment.
    </p>

    <div class="about-content">
      <ol class="about-list">
        <li class="about-item">
          <p class="about-item-number">01</p>
          <p class="about-item-text">Expert, innovative language tutoring</p>
        </li>
        <li class="about-item">
          <p class="about-item-number">02</p>
          <p class="about-item-text">
            Personalized learning plans tailored to your needs
          </p>
        </li>
        <li class="about-item">
          <p class="about-item-number">03</p>
          <p class="about-item-text">
            Flexible scheduling and supportive community
          </p>
        </li>
        <li class="about-item">
          <p class="about-item-number">04</p>
          <p class="about-item-text">
            Comprehensive progress tracking and feedback
          </p>
        </li>
      </ol>

      <div class="about-illustration">
        <img
          src="./img/about/person.png"
          srcset="./img/about/person@2x.png 2x"
          width="254px"
          height="211"
          alt="Person"
        />
      </div>
    </div>
  </div>
</section>
