<header class="header">
  <div class="container header-container">
    <a
      class="header-logo"
      href="./index.html"
      aria-label="English Excellence logo"
    >
      english<span class="header-logo-accent">excellence</span>.
    </a>

    <nav class="header-nav" aria-label="Main navigation">
      <ul class="header-nav-list">
        <li>
          <a class="header-nav-link" href="#about">About us</a>
        </li>
        <li>
          <a class="header-nav-link" href="#lessons">Our lessons</a>
        </li>
        <li>
          <a class="header-nav-link" href="#teachers">Teachers</a>
        </li>
        <li>
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li>
          <a class="header-nav-link" href="#footer">Contact us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list social-list">
      <li>
        <a
          class="header-social-link social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-social-link social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-social-link social-link"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="header-menu-btn" type="button" aria-label="Open menu">
      <svg
        class="header-menu-icon header-menu-icon-mobile"
        width="32"
        height="32"
      >
        <use href="./img/icons.svg#icon-burger-mobile"></use>
      </svg>
      <svg
        class="header-menu-icon header-menu-icon-tablet"
        width="32"
        height="32"
      >
        <use href="./img/icons.svg#icon-burger-tablet"></use>
      </svg>
    </button>
  </div>
</header>

<!-- To open mobile menu manually add class `is-open`: class="header-mobile-menu is-open" -->
<div class="header-mobile-menu">
  <div class="header-mobile-menu-panel">
    <button
      class="header-mobile-menu-close-btn"
      type="button"
      aria-label="Close menu"
    >
      <svg
        class="header-mobile-menu-close-icon-mobile"
        width="32"
        height="32"
      >
        <use href="./img/icons.svg#icon-close-mobile"></use>
      </svg>
      <svg
        class="header-mobile-menu-close-icon-tablet"
        width="32"
        height="32"
      >
        <use href="./img/icons.svg#icon-close-tablet"></use>
      </svg>
    </button>

    <nav class="header-mobile-nav" aria-label="Mobile navigation">
      <ul class="header-mobile-nav-list">
        <li>
          <a class="header-mobile-nav-link" href="#about">About us</a>
        </li>
        <li>
          <a class="header-mobile-nav-link" href="#lessons">Our lessons</a>
        </li>
        <li>
          <a class="header-mobile-nav-link" href="#teachers">Teachers</a>
        </li>
        <li>
          <a class="header-mobile-nav-link" href="#reviews">Reviews</a>
        </li>
        <li>
          <a class="header-mobile-nav-link" href="#footer">Contact us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-mobile-social-list social-list">
      <li>
        <a
          class="header-mobile-social-link social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-mobile-social-link social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header-mobile-social-link social-link"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
