<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-content">
        <h1 class="hero-title">
          Discover the joy of learning English with us!
        </h1>
        <a class="hero-link" href="#application">Leave an application</a>
      </div>

      <a class="hero-scroll-link" href="#footer">
        <span class="hero-scroll-icon-wrap">
          <svg class="hero-scroll-icon" width="14" height="14">
            <use href="./img/icons.svg#icon-angle"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
