<section class="lessons" id="lessons">
  <div class="container">
    <h2 class="section-title">Our lessons</h2>
    <p class="section-description">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios.
    </p>

    <ul class="lessons-list">
      <li class="lessons-item">
        <h3 class="lessons-item-title">Practice</h3>
        <p class="lessons-item-price">40$ / month</p>
        <p class="lessons-item-text">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a class="lessons-item-link btn btn-primary" href="#application">
          Leave an application
        </a>
      </li>
      <li class="lessons-item lessons-item-accent">
        <h3 class="lessons-item-title">Standard</h3>
        <p class="lessons-item-price">70$ / month</p>
        <p class="lessons-item-text">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a class="lessons-item-link btn btn-secondary" href="#application">
          Leave an application
        </a>
      </li>
      <li class="lessons-item">
        <h3 class="lessons-item-title">Individual</h3>
        <p class="lessons-item-price">99$ / month</p>
        <p class="lessons-item-text">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a class="lessons-item-link btn btn-primary" href="#application">
          Leave an application
        </a>
      </li>
    </ul>

    <div class="lessons-offer">
      <h3 class="lessons-offer-title">
        Master the Language with Our English Package!
      </h3>

      <div class="lessons-offer-box">
        <div class="lessons-offer-card">
          <div class="lessons-offer-main">
            <h4 class="lessons-offer-subtitle">Power of English</h4>
            <ul class="lessons-offer-list">
              <li class="lessons-offer-item">
                Dive into captivating lessons designed to stimulate your
                curiosity.
              </li>
              <li class="lessons-offer-item">
                Learn in a nurturing setting where every student's progress
                matters.
              </li>
              <li class="lessons-offer-item">
                Experience the satisfaction of real progress as your language
                skills and confidence grow with every session.
              </li>
            </ul>
            <a class="lessons-offer-link btn btn-primary" href="#application">
              Leave an application
            </a>
          </div>

          <img
            class="lessons-offer-image"
            src="./img/lessons/books.png"
            srcset="./img/lessons/books@2x.png 2x"
            alt="Stack of books"
          />
        </div>
      </div>
    </div>
  </div>
</section>
