<section id="reviews">
  <div class="container">
    <h2 class="section-title">What our <span class="title-accent">students</span> say</h2>
    <p class="section-description">
      Hear from our students about their learning journey with us, as they
      share their experiences, progress, and the transformative impact
    </p>

    <ul class="review-list">
      <li class="review-item">
        <div class="review-author">
          <img
            class="review-avatar"
            src="./img/review/anna.png"
            srcset="./img/review/anna@2x.png 2x"
            width="50"
            height="50"
            alt="Anna"
          />
          <div>
            <p class="review-author-name">Anna</p>
            <p class="review-author-role">Student</p>
          </div>
        </div>
        <p class="review-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>

      <li class="review-item">
        <div class="review-author">
          <img
            class="review-avatar"
            src="./img/review/mykhailo.png"
            srcset="./img/review/mykhailo@2x.png 2x"
            width="50"
            height="50"
            alt="Mykhailo"
          />
          <div>
            <p class="review-author-name">Mykhailo</p>
            <p class="review-author-role">Student</p>
          </div>
        </div>
        <p class="review-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>

      <li class="review-item">
        <div class="review-author">
          <img
            class="review-avatar"
            src="./img/review/victoria.png"
            srcset="./img/review/victoria@2x.png 2x"
            width="50"
            height="50"
            alt="Victoria"
          />
          <div>
            <p class="review-author-name">Victoria</p>
            <p class="review-author-role">Student</p>
          </div>
        </div>
        <p class="review-text">
          I love the dynamic and interactive teaching methods used here. It is
          a great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
