<section class="teachers" id="teachers">
  <div class="container">
    <h2 class="section-title">
      Meet our <span class="title-accent">teachers</span>
    </h2>
    <p class="section-description teachers-description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>

    <ul class="teachers-list">
      <li class="teachers-item">
        <img
          class="teachers-image"
          src="./img/teachers/maria.png"
          srcset="./img/teachers/maria@2x.png 2x"
          width="150"
          height="150"
          alt="Maria"
        />
        <h3 class="teachers-name">Maria</h3>
        <p class="teachers-text">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers-item">
        <img
          class="teachers-image"
          src="./img/teachers/artem.png"
          srcset="./img/teachers/artem@2x.png 2x"
          width="150"
          height="150"
          alt="Artem"
        />
        <h3 class="teachers-name">Artem</h3>
        <p class="teachers-text">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-item">
        <img
          class="teachers-image"
          src="./img/teachers/ilona.png"
          srcset="./img/teachers/ilona@2x.png 2x"
          width="150"
          height="150"
          alt="Ilona"
        />
        <h3 class="teachers-name">Ilona</h3>
        <p class="teachers-text">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers-item">
        <img
          class="teachers-image"
          src="./img/teachers/volodymyr.png"
          srcset="./img/teachers/volodymyr@2x.png 2x"
          width="150"
          height="150"
          alt="Volodymyr"
        />
        <h3 class="teachers-name">Volodymyr</h3>
        <p class="teachers-text">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
