:root {
  --black: #121417;
  --green: #4dc274;
  --light-green: #d4fde1;
  --gray: #f3f5f6;
  --white: #ffffff;
  --green_linear: linear-gradient(90deg, #4dc274 0%, #bee8cc 100%);
  /* --font-family: */
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
