:root {
  --black: #121417;
  --green: #4dc274;
  --green-hover: #38ae5f;
  --light-green: #d4fde1;
  --light-green-2: #bee8cc;
  --gray: #f3f5f6;
  --white: #ffffff;
  --green_linear: linear-gradient(90deg, #4dc274 0%, #bee8cc 100%);
  --font-family: 'Manrope', sans-serif;
  --black-light: rgba(18, 20, 23, 0.5);
  --gray-light: rgba(255, 255, 255, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family);
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;

  border: none;
  border-radius: 12px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;

  transition:
    background-color 250ms ease,
    color 250ms ease;
}

.btn-primary {
  background-color: var(--green);
  color: var(--white);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--green-hover);
}

.btn-secondary {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: var(--green);
  color: var(--white);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--white);
  color: var(--green);
}

.section-title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
}

.section-description {
  margin: 0 auto 40px;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: var(--black-light);
}

.title-accent-background {
  color: var(--light-green);
}

.title-accent {
  position: relative;
  z-index: 0;
  display: inline-block;
}

.title-accent::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: -1;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background-color: var(--light-green-2);
}

.social-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition:
    color 250ms ease,
    border-color 250ms ease;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

section:not(.hero) {
  margin-top: 80px;
}

@media only screen and (min-width: 768px) {
  .btn {
    font-size: 18px;
    line-height: 1.6;
  }

  .section-title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.2;
  }

  .section-description {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.6;
  }

  .title-accent::after {
    bottom: 4px;
    height: 18px;
  }

  section:not(.hero) {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  section:not(.hero) {
    margin-top: 150px;
  }

  .section-description {
    max-width: 700px;
  }
}
