.hero {
  margin-top: 8px;
}

.hero-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 709px;
  border-radius: 30px;
  background-image: url('../img/hero/hero-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 0 20px 72px 20px;
}

.hero-content {
}

.hero-title {
  margin-bottom: 40px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.02em;
  color: var(--white);
}

.hero-link {
  width: 100%;
  height: 52px;
  padding: 16px 32px;
}

.hero-scroll-link {
  position: absolute;
  right: 14px;
  bottom: 14px;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 1.29;
  color: var(--white);
}

.hero-scroll-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  fill: var(--green);
  transition:
    background-color 250ms ease,
    fill 250ms ease;
}

.hero-scroll-icon {
  width: 20px;
  height: 20px;
  fill: var(--green);
}

.hero-scroll-link:hover .hero-scroll-icon-wrap,
.hero-scroll-link:focus .hero-scroll-icon-wrap {
  background-color: var(--green);
  fill: var(--white);
}

.hero-scroll-link:hover .hero-scroll-icon,
.hero-scroll-link:focus .hero-scroll-icon {
  fill: var(--white);
}

@media only screen and (min-width: 768px) {
  .hero {
  }

  .hero-wrapper {
    min-height: 857px;
    padding: 0 32px;
    align-items: center;
    background-image: url('../img/hero/hero-table.png');
  }

  .hero-title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 1.17;
    max-width: 488px;
  }

  .hero-link {
    max-width: 306px;
    height: 60px;
    padding: 16px 64px;
    font-size: 18px;
    line-height: 1.56;
  }

  .hero-scroll-link {
    right: 32px;
    bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
  }

  .hero-scroll-icon-wrap {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-wrapper {
    min-height: 629px;
    background-image: url('../img/hero/hero-desktop.png');
    padding: 0 64px;
  }

  .hero-title {
    margin-bottom: 64px;
    font-size: 60px;
    max-width: 564px;
  }

  .hero-scroll-link {
    right: 64px;
    bottom: 32px;
  }
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero-wrapper {
    background-image: url('../img/hero/hero-mobile@2x.png');
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px) {
  .hero-wrapper {
    background-image: url('../img/hero/hero-table@2x.png');
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1280px) {
  .hero-wrapper {
    background-image: url('../img/hero/hero-desktop@2x.png');
  }
}
