.review-list {
  display: flex;
  flex-direction: column;
}

.review-item {
  padding: 20px;
  border-radius: 16px;
  background-color: var(--gray);
}

.review-item:not(:first-child) {
  display: none;
}

.review-author {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  padding: 14px;
  border-radius: 8px;
  background-color: var(--green);
}

.review-avatar {
  flex-shrink: 0;
  border-radius: 50%;
}

.review-author-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
}

.review-author-role {
  font-size: 12px;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.5);
}

.review-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--black-light);
}

@media only screen and (min-width: 768px) {
  .review-list {
    flex-direction: row;
    gap: 32px;
  }

  .review-item {
    width: calc((100% - 32px) / 2);
    padding: 32px 16px;
  }

  .review-item:nth-child(2) {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
  .review-list {
    gap: 26px;
  }

  .review-item {
    width: calc((100% - 52px) / 3);
    padding: 32px 16px;
  }

  .review-item:nth-child(3) {
    display: block;
  }
}
